*,
*::before,
*::after {
  box-sizing: border-box;
}

article {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

header {
  display: flex;
  background-color: pink;
  width: 100%;
  gap: 10px;
}

header .todoInput {
  width: 100%;
}
header .todoBtn {
  width: 70px;
  border: 1px solid black;
}

main {
  background-color: green;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
